.root {
    color: black;
}

.text-field {
    -fx-prompt-text-fill: black;
}

.background {
    -fx-background-color: #2f3032;
}

.button {
    -fx-background-color: #838f96;
}

.button:pressed {
    -fx-background-color: #61686c;
}